{% extends 'base.html' %}

{% block heading %}
    Profile
{% endblock heading %}

{% block content %}
    <h1> Friends List </h1>
    <ul class="list-group row">
        {% for friend in friends %}
            <li class="list-group-item col-xs-6">
                <a href="{{ url_for('mongo.users.view',id=friend['_id']) }}"> <img src="{{ friend['picture'] }}" height="100px"/>
                    {{ friend['name'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <h1> Recommendation List </h1>
    <ul class="list-group row">
        {% for artist in reco_artist_info %}
            <li class="list-group-item col-xs-6">
                <a href="{{ url_for('mongo.artists.view',id=artist['_id']) }}"> <img src="{{ artist['picture'] }}" height="100px"/>
                    {{ artist['name'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
